<% layout('./layouts/boilerplate') -%>
<% block('head').append('<title>All Campgrounds</title>') %>

    <h1>All Campgrounds</h1>
    <div><a href="/campgrounds/new">Add campground</a></div>
    <ul>
        <% campgrounds.forEach(element => { %>
            <li>  <a href="/campgrounds/<%= element._id %>"><%= element.title %></a></li>
        <% }) %>
    </ul>

</html>