<% layout('./layouts/boilerplate') -%>
<% block('head').append(`<title>${campground.title} Details</title>`) %>

    <h1><%= campground.title %></h1>
    <p>Location: <%= campground.location %></p>
    <a href="/campgrounds">Return to All Campgrounds</a>
    <div>
        <a href="/campgrounds/<%= campground._id %>/edit">Edit Campground</a>
    </div>
    <form action ="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button type="submit"> Delete Campground</button></form>

</html>